<div>
  <h1>Search Confluence Content</h1>

  <form class="aui">
    <div class="field-group">
      <label for="searchterm">Search for
        <span class="aui-icon icon-required">(required)</span></label>
      <input class="text medium-field" type="text" id="searchterm" name="search" placeholder="try demonstration" (keyup)="searchForTerm()" [(ngModel)]="searchTerm">
      <div class="description">Enter your searchterm to search for confluence content.</div>
    </div>
    <div class="buttons-container">
      <div class="buttons"></div>
    </div>

    <div>
      <ul>
          <li *ngFor="let result of resultList">
            {{result.title}}
          </li>
      </ul>

    </div>

  </form>
</div>


